.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  display: block;
  font-size: 12px;

  text-transform: capitalize;
  font-weight: 400;
  color: white;
  padding: 0 10px;
}

.navbar ul li a:hover {
  color: #f2a900;
}

.search form {
  display: flex;
  margin: 0 10px;
}

.searchInput {
  border: 0;
  width: 0;
  transition: width 0.1s ease-in;
  font-family: "Poppins", sans-serif;
}

.searchInput.active {
  width: 150px;
}

.searchIcon {
  cursor: pointer;
  color: white;
}

.searchinput:focus {
  outline: none;
}
